@import 'components.css';

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

.titulo{
    text-align: center;
}

.configuracao {
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: auto;
}

.botao{
    width: 200px;
    padding: 1.3rem 1.5rem;
    border-radius: var(--border-radius);
    margin: 2.5rem auto;
}

.etapa {
    width: 20%;
    margin: 0 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.etapa__valor {
    width: 65%;
    height: 70%;
    margin: .5rem;
    background-color: var(--azulClarinho);
    box-shadow: var(--sombra);
    border-radius: var(--border-radius);
}
.etapa__numero {
    font-size: 3rem;
    width: 100%;
    border: none;
    background-color: transparent;
    margin: 0;
    text-align: center;
    transform: translateY(20%);
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.etapa__setas {
    width: 20%;
    
}
.etapa__setas ion-icon{
    font-size: 1.6rem;
    color: var(--desfarce);
    box-shadow: 1px 1px 2px 0 #2c2c2c;
    border-radius: 50%;
    padding: .010rem;
    margin: .2rem 0;
    background-color: var(--azulClarinho);
}
.etapa__descricao {
    text-indent: 20%;
    margin-top: .2rem;
}