<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pomodoro</title>
    <link rel="stylesheet" href="../css/geral.css">
    <link rel="stylesheet" href="../css/inicio.css">
</head>
<body>
    
    <h1 class="titulo">Pomodoro</h1>
    
    <main class="configuracao">

        <div class="etapa">

            <div class="etapa__setas">
                <ion-icon name="arrow-up-circle" class="seta-cima"></ion-icon>
                <ion-icon name="arrow-down-circle" class="seta-baixo"></ion-icon>
            </div>
            <div class="etapa__valor">
                <input type="number" class="etapa__numero" disabled>
            </div>
            <p class="etapa__descricao">Trabalho</p>

        </div>

        <div class="etapa">

            <div class="etapa__setas">
                <ion-icon name="arrow-up-circle" class="seta-cima"></ion-icon>
                <ion-icon name="arrow-down-circle" class="seta-baixo"></ion-icon>
            </div>
            <div class="etapa__valor">
                <input type="number" class="etapa__numero" disabled>
            </div>
            <p class="etapa__descricao">Pausa</p>

        </div>

        <div class="etapa">

            <div class="etapa__setas">
                <ion-icon name="arrow-up-circle" class="seta-cima"></ion-icon>
                <ion-icon name="arrow-down-circle" class="seta-baixo"></ion-icon>
            </div>
            <div class="etapa__valor">
                <input type="number" class="etapa__numero" disabled>
            </div>
            <p class="etapa__descricao">Sessões</p>

        </div>

    </main>

    <button class="botao continuar-btn">Continuar</button>
    <script src="../js/inicio.js"></script>
    <script src="../js/setarTemporizador.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

</body>
</html>