<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pomodoro</title>
</head>
<body>
    
    <h1 class="titulo">Pomodoro</h1>
    
    <div class="etapa">
        <span class="etapa__valor">25</span>
        <p class="etapa__descricao">Trabalho</p>
    </div>
    <div class="etapa">
        <span class="etapa__valor">5</span>
        <p class="etapa__descricao">Pausa</p>
    </div>
    <div class="etapa">
        <span class="etapa__valor">3</span>
        <p class="etapa__descricao">Sessões</p>
    </div>

    <button class="botao">Continuar</button>
    
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>