<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pomodoro</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    
    <h1 class="titulo">Pomodoro</h1>
    
    <main class="configuracao">
        <div class="etapa">
            <div class="etapa__setas">
                <ion-icon name="arrow-up-circle"></ion-icon>
                <ion-icon name="arrow-down-circle"></ion-icon>
            </div>
            <div class="etapa__valor">
                <p class="etapa__numero">25</p>
            </div>
            <p class="etapa__descricao">Trabalho</p>
        </div>
        <div class="etapa">
            <div class="etapa__setas">
                <ion-icon name="arrow-up-circle"></ion-icon>
                <ion-icon name="arrow-down-circle"></ion-icon>
            </div>
            <div class="etapa__valor">
                <p class="etapa__numero">5</p>
            </div>
            <p class="etapa__descricao">Pausa</p>
        </div>
        <div class="etapa">
            <div class="etapa__setas">
                <ion-icon name="arrow-up-circle"></ion-icon>
                <ion-icon name="arrow-down-circle"></ion-icon>
            </div>
            <div class="etapa__valor">
                <p class="etapa__numero">3</p>
            </div>
            <p class="etapa__descricao">Sessões</p>
        </div>
    </main>

    <button class="botao">Continuar</button>
    
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>