<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pomodoro</title>
</head>
<body>
    
    <div class="cabecalho">
        <h1 class="cabecalho__titulo">Pomodoro</h1>
        <button class="cabecalho__botao">Início</button>
    </div>
    
    <div class="clock">
        <span class="clock__count">0</span>
        <div class="">
            <h2>Trabalho</h2>
            <span></span>
            <span></span>
            <span></span>
            <button><ion-icon name="play-outline"></ion-icon></button>
        </div>
    </div>

    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>
