<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pomodoro</title>
    <link rel="stylesheet" href="../css/geral.css">
    <link rel="stylesheet" href="../css/pomodoro.css">
</head>
<body>
    
    <div class="cabecalho">
        <h1 class="titulo">Pomodoro</h1>
        <button class="botao clock__botao">Início</button>
    </div>
    
    <div class="clock">
        <div class="clock__contador">
            <div class="clock__numero">0:00</div>
        </div>
        <div class="clock__hud">
            <h2 class="titulo clock__status">Status</h2>

            <ul class="clock__ciclos">
                <li class="clock__ciclo clock__ciclo--um"></li>
                <li class="clock__ciclo clock__ciclo--dois"></li>
                <li class="clock__ciclo clock__ciclo--tres"></li>
            </ul>

            <button class="botao clock__start">
                <ion-icon name="play-outline" class="botao__inicia"></ion-icon>
                <ion-icon name="pause-outline" class="botao__pausa is-hiden"></ion-icon>
            </button>
        </div>
    </div>
    <script src="../js/index.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>
